.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link{
  padding-left: 1300px;
  text-decoration: none; color: black;
}
.link1{
  padding-left: 50px;
  text-decoration: none; color: black;
}
.link2{
  padding-left: 15px;
  text-decoration: none; color: black;
}

.App-link {
  color: #61dafb;
}

.text{
  text-decoration: none; color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  padding-right: 1500px;
  
  display: inline;
}
.pull-right
{
  display: inline;
  margin-top: 0px;
  margin-right: 3px;
  margin-left: 1400px;
}
.del{
  margin-right: 0px;
  padding-left: 140px;
  text-align: center;
  margin-left: 10px;
}
.edi{
  padding-left: 150px;
  margin-left:10px ;
  text-align: center;

}

.mt-4{
  table-layout: fixed;
}